<nav class="header">
  <a href="/" class="link">Home</a>
  <a href="/add-post" class="link">New post</a>
  <a href="/posts" class="link">Posts</a>
  <a href="/aboutus" class="link">About us</a>
</nav>
