<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
      <div class="form_wrapper">
        <form class="form" method="post" action="/add-post">
          <div class="form_header">
            <input style="height: 50px; width: 50%;" type="text" name="title" placeholder="add your title here">
            <input style="height: 50px; width: 50%;" type="text" name="author" placeholder="add your name here">
          </div>
          <input style="height: 200px; width: 98.5%;" type="text" name="text" placeholder="add your text here">
          <button type="submit" style="height: 50px;">ADD</button>
        </form>
      </div>
  </body>

</html>
