<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
    <% const name='John' %>
      <h1>Main page</h1>
      <h1>
        <%= name %>
      </h1>
</body>

</html>
